<h1>Bookings#index</h1>

<table>
<thead>
<tr>
<th>Status</th>
<th>Capacity</th>
<th>User</th>
<th>Event</th>

</tr>
</thead>
<tbody>
<% @bookings.each do |b| %>
<tr>
    <td><%= b.status %></td>
    

    <td><%= b.capacity %></td>
    <td><%= b.user.name %></td>
    <td><%= b.event.name %></td>
    <td><%= link_to "View", bookings_show_path(b) %></td>
</tr>
<%end%>
</tbody>
</table>
<div>
<%= link_to "New Users", new_user_path %>
</div>


</body>
</html>