<h1>Events#index</h1>
<table>
<thead>
<tr>
<th>Name</th>
<th>Start Time</th>
<th>End Time</th>
<th>Location </th>
<th>Category</th>
<th>Left Seats</th>



</tr>
</thead>
<tbody>
<% @events.each do |e| %>
<tr>
    <td><%= e.name %></td>
    <td><%= e.start_time %></td>

    <td><%= e.end_time %></td>
    <td><%= e.location.name %></td>
    <td><%= e.category.name %></td>
    <td><%= e.location.capacity - e.bookings.sum(:capacity) %></td>
</tr>
<%end%>

</tbody>
</table>

<div>
<%= link_to "New Event", new_event_path %>
</div>


</body>
</html>
